section.thirds{
	margin-top: 40px;
}
section.thirds article.f{
	padding: 10px 20px 10px 20px;
	width: 306px;
}
section.thirds article.f .img_cont{ height: 270px; text-align: center; }
section.thirds article.f .img_cont img{ margin: auto; width: 80%; }
section.thirds article.f h2{
	font-weight: normal;
}

section.thirds article.f h2,
section.thirds article.f p{
	width: 200px;
	display: block;
}
section.thirds article.f p{
	font-size: 12px;
	color: #555;                    
}
section.thirds article.f .info{
	margin-left: 20px;
}
article.appstore{
	padding-top: 20px;
	padding-bottom: 40px;
	margin:auto;
	display: block;
	width: 140px;
}

@media only screen and (min-width: 959px) and (max-width: 1080px) {	
	section.thirds article.f{ width: 260px; }
	section.thirds article.f .img_cont{ height: 200px; }
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	section.thirds article.f{ width: 222px; }
	section.thirds article.f .img_cont{ height: 180px; }
}


/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {	
	section.thirds article.f{ float: none; margin: auto; display: block;  margin-bottom: 40px; }
	section.thirds article.f .img_cont{ height: 280px; }
}


/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (max-width: 480px) {
	section.thirds article.f{ width: 180px; float: none; margin: auto; display: block;  margin-bottom: 40px; }
	section.thirds article.f .img_cont{ height: 150px; }
	section.thirds article.f .info{ height: 180px; margin-left: 0px; }
	section.thirds article.f h2,
	section.thirds article.f p{
		width: 180px;
		display: block;
	}
}